<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>RedBank_System</display-name>
  <session-config>
        <session-timeout>2</session-timeout> <!-- Timeout in minutes -->
    </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterCustomers</display-name>
    <servlet-name>RegisterCustomers</servlet-name>
    <servlet-class>POJO.CustomerOperations.RegisterCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomers</servlet-name>
    <url-pattern>/RegisterCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCustomer</display-name>
    <servlet-name>RegisterCustomer</servlet-name>
    <servlet-class>BankingEvents.Events.RegisterCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomer</servlet-name>
    <url-pattern>/RegisterCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticateCustomer</display-name>
    <servlet-name>AuthenticateCustomer</servlet-name>
    <servlet-class>BankingEvents.Events.AuthenticateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateCustomer</servlet-name>
    <url-pattern>/AuthenticateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticateExistingCustomer</display-name>
    <servlet-name>AuthenticateExistingCustomer</servlet-name>
    <servlet-class>BankingEvents.Events.AuthenticateExistingCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateExistingCustomer</servlet-name>
    <url-pattern>/AuthenticateExistingCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerHomePage</display-name>
    <servlet-name>CustomerHomePage</servlet-name>
    <servlet-class>BankingEvents.Events.CustomerHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerHomePage</servlet-name>
    <url-pattern>/CustomerHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomepageFuncationalities</display-name>
    <servlet-name>HomepageFuncationalities</servlet-name>
    <servlet-class>BankingEvents.Events.HomepageFuncationalities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageFuncationalities</servlet-name>
    <url-pattern>/HomepageFuncationalities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransfer</display-name>
    <servlet-name>FundTransfer</servlet-name>
    <servlet-class>BankingEvents.Events.FundTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransfer</servlet-name>
    <url-pattern>/FundTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositAmount</display-name>
    <servlet-name>DepositAmount</servlet-name>
    <servlet-class>BankingEvents.Events.DepositAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositAmount</servlet-name>
    <url-pattern>/DepositAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatingDetails</display-name>
    <servlet-name>UpdatingDetails</servlet-name>
    <servlet-class>BankingEvents.Events.UpdatingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatingDetails</servlet-name>
    <url-pattern>/UpdatingDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerName</display-name>
    <servlet-name>UpdateCustomerName</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateCustomerName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerName</servlet-name>
    <url-pattern>/UpdateCustomerName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomer</display-name>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContacts</display-name>
    <servlet-name>UpdateContacts</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContacts</servlet-name>
    <url-pattern>/UpdateContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddress</display-name>
    <servlet-name>UpdateAddress</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddress</servlet-name>
    <url-pattern>/UpdateAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdress</display-name>
    <servlet-name>UpdateAdress</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateAdress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdress</servlet-name>
    <url-pattern>/UpdateAdress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddressline</display-name>
    <servlet-name>UpdateAddressline</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateAddressline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressline</servlet-name>
    <url-pattern>/UpdateAddressline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>BankingEvents.Events.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateConfirmPassword</display-name>
    <servlet-name>UpdateConfirmPassword</servlet-name>
    <servlet-class>BankingEvents.Events.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConfirmPassword</servlet-name>
    <url-pattern>/UpdateConfirmPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMPIN</display-name>
    <servlet-name>UpdateMPIN</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateMPIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMPIN</servlet-name>
    <url-pattern>/UpdateMPIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatedMpin</display-name>
    <servlet-name>UpdatedMpin</servlet-name>
    <servlet-class>BankingEvents.Events.UpdatedMpin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatedMpin</servlet-name>
    <url-pattern>/UpdatedMpin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMTPIN</display-name>
    <servlet-name>UpdateMTPIN</servlet-name>
    <servlet-class>BankingEvents.Events.UpdateMTPIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMTPIN</servlet-name>
    <url-pattern>/UpdateMTPIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailVerification</display-name>
    <servlet-name>MailVerification</servlet-name>
    <servlet-class>BankingEvents.Events.MailVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailVerification</servlet-name>
    <url-pattern>/MailVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectingtoMail</display-name>
    <servlet-name>RedirectingtoMail</servlet-name>
    <servlet-class>BankingEvents.Events.RedirectingtoMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectingtoMail</servlet-name>
    <url-pattern>/RedirectingtoMail</url-pattern>
  </servlet-mapping>
</web-app>